h1,
p {
    color: #000
}

@font-face {
    font-family: Regular;
    src: url(../fonts/Graphik-Regular.eot);
    src: url(../fonts/Graphik-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Graphik-Regular.woff) format('woff'), url(../fonts/Graphik-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Semibold;
    src: url(../fonts/Graphik-Semibold.eot);
    src: url(../fonts/Graphik-Semibold.eot?#iefix) format('embedded-opentype'), url(../fonts/Graphik-Semibold.woff) format('woff'), url(../fonts/Graphik-Semibold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Medium;
    src: url(../fonts/Graphik-Medium.eot);
    src: url(../fonts/Graphik-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/Graphik-Medium.woff) format('woff'), url(../fonts/Graphik-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent !important;
    cursor: url(../images/cursor1x.png) 6 6, default;
    cursor: -webkit-image-set(url(../images/cursor1x.png) 1x, url(../images/cursor2x.png) 2x) 6 6, default;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a,
a:after,
a:visited {
    background-color: transparent;
    cursor: url(../images/cursor-fill1x.png) 6 6, auto;
    cursor: -webkit-image-set(url(../images/cursor-fill1x.png) 1x, url(../images/cursor-fill2x.png) 2x) 6 6, auto;
    text-decoration: none;
    color: #000
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    position: absolute
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 0;
    border-radius: 0
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #000;
 
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #000
}

::selection {
    background: #000;
    color: #fff
}

::-moz-selection {
    background: #000;
    color: #fff
}

h1 {
    font-size: 112px;
    font-size: 7.9vw;
    letter-spacing: -2px;
    line-height: 110%;
    font-family: Semibold;
    position: fixed;
    top: 34%;
    left: 10%
}

.text {
    position: relative;
    display: block;
    overflow: hidden
}

.animate {
    -webkit-animation: animate 1.2s cubic-bezier(.2, .6, .2, 1);
    -moz-animation: animate 1.2s cubic-bezier(.2, .6, .2, 1);
    animation: animate 1.2s cubic-bezier(.2, .6, .2, 1);
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: translateY(100%)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@keyframes animate {
    0% {
        transform: translateY(100%)
    }

    100% {
        transform: translateY(0)
    }
}

.delay {
    -webkit-animation-delay: .3s;
    animation-delay: .3
}

.about {
    position: absolute;
    top: 100vh;
    left: 50%;
    right: 10%;
    padding-bottom: 34vh
}

h2 {
    font-size: 32px;
    font-size: 2.2vw;
    line-height: 140%;
    font-family: Medium;
    margin-bottom: 10%
}

p {
    font-size: 18px;
    font-size: 1.25vw;
    line-height: 180%;
    font-family: Regular;
    margin-bottom: 6%
}

b {
    font-family: Medium
}

@media screen and (max-width:667px) {
    h1 {
        font-size: 68px;
        font-size: 18vw
    }

    h2 {
        font-size: 24px;
        font-size: 6.4vw
    }

    p {
        font-size: 18px;
        font-size: 4.8vw
    }

    .about {
        left: 0;
        right: 0;
        background: #fff;
        padding: 10%
    }
}